<ion-view view-title="GRM Ionic First APP - Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Atualização da GRM</div>
      <div class="item item-body">
        <div>
          Informações na tela da home <b>GRM Internet</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
